.shop-main {
    display: grid;
    grid-template-columns: calc(1440px - 264px) 264px;
}



.card-div {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 45px;
    margin-top: 200px;
    padding-left: 104px;
    padding-right:82px;
 
    


}


@media screen and (max-width: 600px) {

    .shop-main {
        display: flex; 
        flex-direction: column-reverse;
        align-items: center;
    }

    .card-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 45px;
        margin-top: 200px;
        margin-left: 90px;
        margin-right: 90px;

    }

}