.shop-main {
    display: grid;
    grid-template-columns: calc(1423px - 264px) 264px;
}



.card-div {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 45px;
    margin-top: 200px;
    padding-left: 104px;
    padding-right:82px;
 
    


}


.craft-div
{
    height: 100%;
    margin-top: 0%;
    padding-top: 0%;

}


@media screen and (max-width: 600px) {

    .shop-main {
        display: flex; 
        flex-direction: column-reverse;
        align-items: center;
    }

    .card-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 45px;
        margin-top: 200px;
        margin-left: 90px;
        margin-right: 90px;

    }

    .craft-div
    {
        background-color: rgba(255, 153, 0, 0);
        height: auto;
        position: relative;
       
    }

}