.order-card-div
{
    width: 571px;
    height: 107px;
    border: 1px solid rgba(0, 0, 0, 0.071);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 20rem;

}

.order-card-div img {
    width:91px ;
    height: 91px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 5px;
}

.order-card-div h3
{
    font-size: 21px;
    padding: 0;
    margin: 0;

}

.order-card-div p
{
    font-size: 15px;
    margin: 3px;
    font-weight: 700;
    
}


.order-card-div button
{
    margin-right: 1rem;
    font-size: 1.4rem;
    border-radius: 2px;
    background-color:rgba(118, 116, 112, 0.105);
    border: none;
}

.order-card-div button:hover
{
    background-color: rgb(255, 89, 0);
}

