.register-from
{
    border: 1px solid rgba(149, 160, 167, 1);
    width: 500px;
    height: 820px;
    margin: 216px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}




.name-filed {
    margin-top: 20px;
    height: 84px;

}

.name-filed input {
    width: 415px;
    height: 55px;
    border-radius: 8px;
    border: 1px solid rgba(149, 160, 167, 1);
}



.google-login-btn
{
    margin-top: 15px;
    width: 415px;
    height: 55px;
    background-color: white;
    font-size: 21px;
    border: 1px solid rgba(149, 160, 167, 1);
    border-radius: 8px;
}