.craft
{
    background-color: rgba(255, 153, 0, 0.3);
    width: 264px;
    height: 944px;
}

.craft h2

{
    font-size:25px
}

.craft p 
{
    font-size: 17px;
}


.button-div button
{
    display: block;
    width: 232px;
    height: 48px;
    margin-top: 16px;
    border-radius: 4px;
    border: none;
}


@media screen and (max-width: 700px) {

    .craft
{
    background-color: rgba(255, 153, 0, 0);
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.craft h2 
{   
    
    font-size: 1.4rem;
    font-family:'Courier New', Courier, monospace;
}
    
}