nav {
    background-color: rgba(28, 43, 53, 1);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 112px;
    padding-right: 97px;
    position: relativemain-section;
}

.nav-menu-link {
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 32px;
}

.nav-menu-link a {
    font-size: 17px;
}

.nav-menu-link a:hover {
    color: #FF9900;
}





@media screen and (max-width: 600px) {
    /* TODO Fix Header. */

    .nav-menu-link:hover {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 3%;
        top: 40%;
        background-color: rgba(28, 43, 53, 1);
    }

    .nav-menu-link a {

        display: flex;
        flex-direction: column;


    }

}