nav {
    background-color: rgba(28, 43, 53, 1);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 112px;
    padding-right: 97px;
}

.nav-menu-link {
    color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 32px;
}

.nav-menu-link a:hover
{
    padding: 5px 10px;
    background-color: orange;
}




.nav-menu-link a
{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 5px 10px;
}



.active {
    
    background-color: orange;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: 400;
}


p
{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 5px 10px;
}





@media screen and (max-width: 600px) {
    /* TODO Fix Header. */

    .nav-menu-link {
        position: absolute;
        padding: 1px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 3%;
        top: 2%;
        background-color: rgba(28, 43, 53, 1);
    }

    .nav-menu-link a
    {
        color: white;
        text-decoration: none;
        padding: 5px 20px;
        width: 100%;
        text-align: center;
    }

    .nav-menu-link a:focus
    {
        background-color: orange;
    }
    

}